<div class="user-details">
  <h1>About</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Publications</h2>
    <p>Paper (to be published in JCAP) describing and validating the methods I developed during my PhD, which have been implemented in the Primodal code.</p>
    <p><a href="https://arxiv.org/abs/2012.08546">Probing Inflation with Precision Bispectra</a>, 2020</p>
  </div>
  <div class="tech">
    <h2>Selected writing</h2>
    <!--<p>Links to posters, essays. Or maybe my small GitHub projects?</p>-->
    <p><a href="https://www.bluesci.co.uk/posts/focus-our-place-in-the-universe">The history of the universe</a>, popsci, 2020.
    <br>
    <a href="https://issuu.com/bluesci/docs/issue46_online/28">A modern mystery</a>, popsci, 2019.
    <br>
    <a href="documents/essay_two_field.pdf">Two-field inflation</a>, master's essay, 2017.
    <br>
    <a href="documents/edited_report.pdf">The conformal bootstrap</a>, undergrad project report, 2016.
    <br>
    <a href="documents/philip_clarke_poster.pdf">Poster</a> and 
    <a href="documents/The_Conformal_Bootstrap.pdf">slides</a> on the conformal bootstrap, 2016.
    <br>
  </div>
  <div class="tech">
    <h2>Selected code</h2>
    <p><a href="https://github.com/pc559/arbitrary_points_integrator">Integration weights</a></p>
    <p>More to come!</p>
    <!--<p><a href="temp">Plotting route data (gpx)</a></p>
    <p><a href="temp">Dungeons and Dragons</a></p>-->
  </div>
</div>
