<div class="user-details">
  <h1>About</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Publications</h2>
    <p>Paper (to be published in JCAP) describing and validating the methods I developed during my PhD, which have been implemented in the Primodal code.</p>
    <p><a href="https://arxiv.org/abs/2012.08546">Probing Inflation with Precision Bispectra (2020)</a></p>
  </div>
  <div class="tech">
    <h2>Posters, essays</h2>
    <!--<p>Links to posters, essays. Or maybe my small GitHub projects?</p>-->
    <p><a href="documents/essay_two_field.pdf">Part iii essay</a>, (2017)</p>
    <p><a href="documents/edited_report.pdf">Undergraduate project report</a>, (2016)</p>
    <p><a href="documents/philip_clarke_poster.pdf">Poster</a>,
    <a href="documents/The_Conformal_Bootstrap.pdf">slides</a>, (2016)</p>
  </div>
  <div class="tech">
    <h2>CV</h2>
    <p><a href="documents/website_cv.pdf">CV</a></p>
  </div>
</div>
