<div class="user-details">
  <h1>About</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <!--<div class="tech">
    <h2>Publications</h2>
    <p>During my PhD I developed methods to connect a particular early-universe signature to today's sky,
    making its precise calculation feasible for the first time.
    These methods are described in my paper
    <a href="https://arxiv.org/abs/2012.08546">Probing Inflation with Precision Bispectra</a>
    (published in the Journal of Cosmology and Astroparticle Physics)
    and have been implemented in the Primodal code,
    soon to be released.</p>
  </div>-->
  <div class="tech">
    <h2>Writing</h2>
    <!--<p>Links to posters, essays. Or maybe my small GitHub projects?</p>-->
    <!--<p><a href="https://www.bluesci.co.uk/posts/focus-our-place-in-the-universe">A timeline of the universe</a>, for everyone, 2020.
    <br>
    <a href="https://issuu.com/bluesci/docs/issue46_online/28">How fast is the universe expanding?</a>, for everyone, 2019.
    <br>-->
    <p>If you're curious about what our universe has been up to for the past 14 billion years,
    check out this
    <a href="https://www.bluesci.co.uk/posts/focus-our-place-in-the-universe">timeline of the universe</a>.
    For what it's up to today, take a look at
    <a href="https://issuu.com/bluesci/docs/issue46_online/28">how fast is the universe expanding?</a></p>
    <p>Here's some more technical stuff. My master's essay from 2017 on
    <a href="documents/essay_two_field.pdf">two-field inflation</a>
    (how can we probe the earliest moments of the universe?),
    my undergraduate project report from 2016 on
    <a href="documents/edited_report.pdf">the conformal bootstrap</a>
    (what can symmetries tell us about physics?),
    and a
    <a href="documents/philip_clarke_poster.pdf">poster</a> and 
    <a href="documents/The_Conformal_Bootstrap.pdf">slides</a>
    for the same project.</p>
    <p>During my PhD I developed methods to connect a particular early-universe signature to today's sky,
    making its precise calculation feasible for the first time.
    These methods are described in my paper
    <a href="https://arxiv.org/abs/2012.08546">Probing Inflation with Precision Bispectra</a>
    (published in the Journal of Cosmology and Astroparticle Physics)
    and have been implemented in the Primodal code,
    soon to be released.</p>
    <p>
    A first draft of some documentation, for Primodal
    helper functions, can be found
    <a href="primodal_documentation/build/html/index.html">here</a>.
  </div>
  <div class="tech">
    <h2>Code</h2>
    <p>
    I've been working on some small projects recently to sharpen my knowledge of common data science tools.
    First, I asked the question
    <a href="https://github.com/pc559/weekend_births_analysis/blob/main/ons_births_model.ipynb"><b>which days have fewer births?</b></a>
    Pandas was great for making the many plots that helped find the answers. It was pretty interesting!
    Another write-up is a little exploration of
    <a href="https://github.com/pc559/pca_losing_cluster/blob/main/pca_losing_cluster.ipynb"><b>PCA and clustering</b></a>.
    I wanted to practise using Sklearn, especially writing things in terms of pipelines,
    and to gain some intuition for how clustering and PCA interact.
    Finally, here's my write-up of one of the classic machine learning examples,
    <a href="https://github.com/pc559/mnist_comparison/blob/main/mnist_compare.ipynb"><b>digit recognition</b></a>
    using the MNIST dataset.
    I compared a few different models, and visualised how a couple of different methods of
    dimensional reduction compress the pixel images.
    </p>
    <p>
    Here's some fun code for demonstrating
    <a href="https://github.com/pc559/thin-lens">gravitational lensing</a>.
    It warps your webcam feed in the same way gravity warps passing light.
    If you'd like to use this code for a physics demo, let me know if you have any trouble
    getting it working!
    For something more technical, here is some code for generating
    <a href="https://github.com/pc559/arbitrary_points_integrator">weights for numerical integration</a>.
    In my PhD I needed to integrate a lot of functions over the same sample points extremely
    efficiently - this is the code that let me do that.
    </p>
    <!--<p><a href="temp">Plotting route data (gpx)</a></p>
    <p><a href="temp">Dungeons and Dragons</a></p>-->
  </div>
</div>
